{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ category.name }}{% endblock %}

{% block body %}
<main>
    <h1>Catégorie : {{ category.name }}</h1>

    <section>
        {% for article in articles %}
            {% include 'components/_article_card.html.twig' with {'article': article} %}
        {% endfor %}
    </section>
 <button type="submit" class="btn btn-primary">
    <a href="{{path('app_home')}}">Retourner à l'accueil</a>
    <button>
</main>
{% endblock %}
